<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div align="center">
<!--   i put her  th:action="@{/mentor/confirm}" becuse when i press register button i will nevigate to ths en point ->th:action="@{/mentor/confirm}" to -->
<!--    method="post"->gives the direction where we put @postMapping annotation get the informatiomn from there-->
    <!--  by this sintacst-> th:object="${mentor}"  i linked my this form to my new mentor object -->
<form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}">
<!--    this is my form-->
    <lable>First Name</lable>
<!--    by this sintacst ->th:field="*{firstName}" is gonna assign to what i write in the text box to the ${mentor} here-->
    <input type="text" th:field="*{firstName}"><br>

    <label>Last Name</label>
    <input type="text" th:field="*{lastName}"><br>

    <label>Email</label>
    <input type="email" th:field="*{email} "><br>

    <label>Graduated</label>
    <input type="checkbox" th:field="*{graduated} "><br>

    <label>Gender</label>
    <input type="radio"  value="Male"  th:field="*{gender} ">Male
    <input type="radio"  value="Female"  th:field="*{gender} ">Female<br>

    <label>Batch Number</label>
    <select th:field="*{batch}">
<!--        <option >JD1</option>-->
<!--        <option >JD2</option>-->
<!--        <option >JD3</option>-->
        <option th:each="theBatch :${batchList}" th:value="${theBatch}" th:text="${theBatch}"></option>
    </select><br>
    <label>Company:</label>
    <textarea th:field="*{company}"></textarea><br>
     <button type="submit">Register</button>
</form>
</div>

</body>
</html>